* {
    box-sizing: border-box;
}

body {
    background-color: #FFF8EE;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #322F2E;
}

.container {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 45px;
}

.menu__list-link {
    color: #322F2E;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
}

.menu__list-link:hover {
    text-decoration: underline;
}

.user-nav {
    margin-left: 65px;
    margin-right: 10px;
    width: 130px;
}

.user-nav__link {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 13px 28px;
    border-color: transparent;
    border-radius: 50px;
    text-decoration: none;
    background-color: #C47344;
}

.user-nav__link:hover {
    transition: all 0.5s linear;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
