* {
    box-sizing: border-box;
}

body {
    background-color: #FFF8EE;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #322F2E;
}

.container {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 45px;
}

.menu__list-link {
    color: #322F2E;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
}

.menu__list-link:hover {
    text-decoration: underline;
}

.user-nav {
    margin-left: 65px;
    margin-right: 10px;
    width: 130px;
}

.user-nav__link {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 13px 28px;
    border-color: transparent;
    border-radius: 50px;
    text-decoration: none;
    background-color: #C47344;
    margin-left: -20px;
}

.user-nav__link:hover {
    transition: all 0.5s linear;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.top {
    background-image: url('../img/top-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
}

.top__inner {
    padding: 140px 0 770px;
    margin-bottom: 130px;
    text-align: center;
}

.top__inner-block-main {
    margin: 0 auto 12px auto;
}

.top__inner-block1 {
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    color: #FFFFFF;
    background: #F9A38F;
    padding: 6px 15px 6px 10px;
    width: 51px;
    height: 25px;
    border-radius: 20px;
    position: relative;
}

.top__inner-block2 {
    color: #4D4D4D;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    padding: 5px 25px;
    background-color: #F9EDE2;
    border-radius: 20px;
    width: 188px;
    height: 25px;
    position: relative;
    right: -50px;
    top: -40px;
}

.top__title {
    font-size: 110px;
    font-weight: 700;
    line-height: 119px;
    margin: 0 auto 28px auto;
    max-width: 565px;
}

.top__text {
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    margin: 0 auto 20px auto;
    max-width: 524px;
}

.top__img {
    margin-top: 50px;
    margin-bottom: 30px;
}

.top__img-item {
    cursor: pointer;
}

.top__img-item+.top__img-item {
    margin-left: 20px;
}

.top__img-item:hover {
    opacity: 0.7;
}

.top__link-2 {
    line-height: 20px;
    display: inline-block;
    font-weight: 700;
    color: #C47344;
    padding-right: 27px;
    position: relative;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.top__link-2::after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url('../img/top-icon.svg');
}

.top__link-2:hover {
    text-decoration: underline;
}

.cards {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    padding-bottom: 136px;
}

.cards__inner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.cards__adds {
    display: flex;
    justify-content: center;
    margin-top: 177px;
    align-items: center;
}

.cards__item {
    padding-top: 51px;
    padding-bottom: 34px;
    padding-right: 84px;
    padding-left: 84px;
    width: 497px;
    background-color: #FFFAF2;
    margin-bottom: 30px;
    border: solid 1px #DDDDDD;
    border-radius: 1em;
    box-shadow: 1px 1px 20px 0px #00000014;
    transition: 1s;
    text-align: center;
}

.cards__item:hover {
    transform: scale(1.1);
}

.cards__item-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    margin-top: 26px;
    margin-bottom: 16px;
}

.cards__item-text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 23px;
}

.cards__item-link {
    padding-top: 12px;
    padding-bottom: 16px;
    padding-right: 37px;
    padding-left: 37px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
    border: 2px solid #E1DED9;
    border-radius: 50px;
    text-decoration: none;
}

.cards__item-link:hover {
    transition: all 0.5s linear;
    color: #FFFFFF;
    border-color: transparent;
    background-color: #C47344;
}

.cards__adds-quiz {
    padding-top: 19px;
    padding-bottom: 22px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #32686F;
    width: 220px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 1px 1px 12px 0px #0000008C;
    margin-right: 85px;
    transition: 1s;
}

.cards__adds-quiz:hover {
    transform: scale(1.1);
}

.cards__adds-quiz-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.cards__adds-quiz-img {
    margin-bottom: 12px;
}

.cards__adds-quiz-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.cards__adds-link {
    margin-bottom: 22px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    width: 170px;
    padding-top: 10px;
    padding-right: 134px;
    border-top: solid 0.1em #FFFFFF2E;
    background-image: url('../img/quiz-arrow.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.cards__adds-content {
    width: 470px;
    padding: 0;
    margin: 0;
}

.cards__adds-content-title {
    margin-top: 18px;
    margin-bottom: 25px;
    font-size: 53px;
    font-weight: 700;
    line-height: 62px;
}

.cards__adds-content-text {
    width: 416px;
    margin-bottom: 43px;
}

.form {
    background-color: #FAF7F3;
    padding-top: 43px;
    padding-bottom: 45px;
    padding-left: auto;
    padding-right: auto;
}

.form__inner {
    display: flex;
    justify-content: center;
}

.form__inner-img {
    margin-right: 51px;
}

.form__inner-content {
    width: 550px;
}

.form__inner-content-title {
    margin-top: 20px;
    margin-bottom: 24px;
    color: #1A1918;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
}

.form__inner-content-text {
    margin-bottom: 30px;
}

.form__inner-content-form {
    height: 55px;
    padding: 0 15px;
    border: none;
    border-radius: 10px;
    width: 380px;
    display: inline-block;
    box-shadow: 0px 1px 12px 0px #0000001A;
    background: #FFFFFF;
    position: relative;
}

.form__inner-content-form::placeholder {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #00000073;
}

.form__inner-content-btn {
    position: absolute;
    right: 2553px;
    border: none;
}

.footer {
    background-color: #fff;
    padding-top: 142px;
    padding-bottom: 80px;
}

.footer__inner-top {
    display: flex;
    justify-content: space-between;
}

.footer__inner-top-info {
    margin-right: 190px;
    width: 340px;
}

.footer__inner-top-logo {
    margin-bottom: 19px;
}

.footer__inner-top-text {
    color: #313131;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    width: 312px;
    margin-bottom: 31px;
}

.footer__inner-top-title {
    color: #313131;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.footer__inner-top-img {
    margin-bottom: 30px;
}

.footer__inner-top-adds {
    color: #D3D3D3;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    width: 314px;
    margin-bottom: 20px;
}

.footer__menu+.footer__menu {
    margin-left: 108px;
}

.footer__menu-title {
    color: #333333;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.footer__menu-item {}

.footer__menu-link {
    color: #313131;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    width: 34px;
    text-decoration: none;
    margin-bottom: 7px;
}

.footer__inner-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.socials {
    display: flex;
    align-items: center;
}

.socials__text {
    color: #D3D3D3;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 15px;
}

.socials-link {
    margin-bottom: 0;
}

.socials-link+.socials-link {
    margin-left: 10px;
}